@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for text stroke effect */
.text-stroke-gold-dark {
  -webkit-text-stroke: 1.5px #B8860B; /* Darker gold stroke */
  text-stroke: 1.5px #B8860B;
}

.text-stroke-slate-light {
  -webkit-text-stroke: 1.5px #64748B; /* Light slate stroke */
  text-stroke: 1.5px #64748B;
}

/* Custom styles for shadow text effect */
.shadow-text-light {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Custom styles for typing effect */
.typing-effect span {
  opacity: 0;
  animation: reveal-char 0.1s steps(1) forwards;
}

/* Ensure full height for HTML and body */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}
